{% extends "archive/site_layout.html" %}

{% block body %}
    {% if message %}
        <div id="dismissible-alert" class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <div id="login-container" class="card mx-auto" style="width: 25rem;">
        <div class="card-body">
            <h3 id="login-logo">Archive</h3>
            <h4 id="login-heading" class="card-title">Login</h4>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div id="login-container">
                    <div class="form-group">
                        <input id="login-username" autofocus class="form-control w-75 p-3 mx-auto" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control w-75 p-3 mx-auto" type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <input id="login-submit" class="btn btn-primary" type="submit" value="Login">
                <a id="login-create" href="{% url 'register' %}">Create Account</a>
            </form>
        </div>
    </div>
{% endblock %}