{% extends "archive/site_layout.html" %}
{% block body %}
    <div class="jumbotron">
        <h1 id="profile-username" class="display-4">{{ user.username }}</h1>
        <p id="profile-join-date" class="lead">Joined {{ user.date_joined }}</p>
        {% if user.is_superuser %}
            <h3 id="profile-badge"><span class="badge-pill badge badge-dark">Archive Administrator</span></h3>
        {% endif %}
        <hr class="my-4">
    </div>

    <div class="user-resources" style="padding: 20px; margin-top: 2rem;">
        {% if checkpoint > 0 %}
            <h1 style="margin-bottom: 1rem;">{{ user.username }}'s Uploads</h1>
        {% endif %}
        {% for resource in resources %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ resource.icon }}" style="max-width: 200px; margin-left: 150px;" alt="{{ resource.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ resource.name }}</h5>
                            <h6 class="card-subtitle md-2 text-muted">{{ resource.get_category_display }}</h6>
                            <br>
                            <p class="card-subtitle mb-2 text-muted">Posted {{ resource.publication_date }}</p>
                            <br>
                            <a href="{% url 'resource' resource.id %}" class="btn btn-outline-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        {%empty%}
            <h2 class="text-muted" style="text-align: center; margin-top: 4rem;">No resources have been uploaded by this user yet.</h2>
        {% endfor %}
{% endblock %}